.helpinput-box {
    position: relative;
    display: initial;
}


.helpinput-box .helpinput-nav {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    box-shadow: 0px 1px 3px rgba(70, 70, 70, 0.5), 0px 2px 5px rgba(31, 31, 31, 0.6), 0px 0px 10px rgba(146, 146, 146, 0.3);
    border-radius: 3px;
    z-index: 3;    
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    display: none;
}

.helpinput-box .helpinput-nav:before {
    background-color: #1b707f;
    height: 8px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 8px;
}

.helpinput-box .helpinput-nav .closeHelpInput {
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
    background-color: #F44336;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.helpinput-box .helpinput-nav .closeHelpInput i {
    font-size: 13px;
    color: #ffffff;
    margin-left: 1px;
    margin-top: 1px;
}

.helpinput-box .helpinput-nav ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    background: #136a8a;
    background: -webkit-linear-gradient(to left, #136a8a , #267871);
    background: -webkit-linear-gradient(right, #136a8a , #267871);
    background: linear-gradient(to left, #136a8a , #267871);  
    border-radius: 3px;      
}

.helpinput-box .helpinput-nav:before {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1) inset;
}

.helpinput-box .helpinput-nav li {
    display: table-cell;
    width: auto;
    text-align: center;
}

.helpinput-box .helpinput-nav a {
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-size: 10px;
    line-height: 10px;
    padding: 8px 10px;
}

.helpinput-box .helpinput-nav a:hover {
    background-color: #114b56;
    color: #fff;
}

.helpinput-box .helpinput-nav a.helpinput-selected {
    color: #cddc39;
}

.helpinput-box nav:before {
    border-top: 1px solid #6b6b6b;
    border-left: 1px solid #6b6b6b;
    content: "";
    margin: -5px 0 0 -5px;
    -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}






/* teclado virtual */
#teclado-virtual-box {
    box-sizing: border-box;
    position: fixed;
    bottom: -300px;
    width: 100%;
    background-color: #e4e4e4;
    border-top: 1px solid #cccccc;
    z-index: 6;
    padding: 0 20%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#teclado-virtual-box .keypad {
    flex-grow: 4;
    padding: 15px;
}

#teclado-virtual-box .numpad {
    flex-grow: 1;
    padding: 15px;
}

#teclado-virtual-box .keypad .teclas-row, #teclado-virtual-box .numpad .teclas-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    margin: 5px 0;
}

#teclado-virtual-box .keypad .teclas-row .tecla, #teclado-virtual-box .numpad .teclas-row .tecla {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    color: #ffffff;
    background-color: #444444;
    border: 2px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    box-shadow: 0 1px 0 #222, inset 0 1px 3px rgba(255,255,255,0.1);
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    height: 45px;
    line-height: 45px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

#teclado-virtual-box .keypad .teclas-row .tecla:active, #teclado-virtual-box .numpad .teclas-row .tecla:active {
    -webkit-transform: translate(1px);
    -ms-transform: translate(1px);
    -o-transform: translate(1px);
    transform: translate(1px);
    background-color: #333333;
    box-shadow: 0 1px 0 #000;
}

#teclado-virtual-box .keypad .teclas-row .tecla:hover, #teclado-virtual-box .numpad .teclas-row .tecla:hover {
    background-color: #333333;
}

#teclado-virtual-box .keypad .teclas-row .tecla:last-child, #teclado-virtual-box .numpad .teclas-row .tecla:last-child {
    margin-right: 0;
}

#teclado-virtual-box .teclas-row .tecla span.capStatus {
    position: absolute;
    width: 5px;
    height: 15px;
    background-color: #9c9c9c;
    top: 50%;
    left: 2%;
    transform: translate(2%,-50%);
    border-radius: 2px;
}

#teclado-virtual-box .teclas-row .tecla span.capStatus.capsAtivo {
    background-color: #8BC34A;
}

#teclado-virtual-box .keypad .teclas-row .tecla.um, #teclado-virtual-box .numpad .teclas-row .tecla.um {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

#teclado-virtual-box .keypad .teclas-row .tecla.um-meio, #teclado-virtual-box .numpad .teclas-row .tecla.um-meio {
    -webkit-flex: 1.5;
    -moz-flex: 1.5;
    -ms-flex: 1.5;
    -o-flex: 1.5;
    flex: 1.5;
}

@media only screen and (min-width: 993px) {
    #teclado-virtual-box{ 
        padding: 0 20%;
    }
    .teclaCapsLock{
        display: block;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    #teclado-virtual-box {
        padding: 0 40px;
    }
    .teclaCapsLock {
        display: block;
    }
}

@media only screen and (max-width: 599px) {
    #teclado-virtual-box {
        padding: 0;
    }
    .teclaCapsLock {
        display: none;
    }
}


/* microfone */




#mic-recording {
    position: fixed;
    bottom: 17px;
    right: 17px;
    width: 72px;
    height: 72px;
    line-height: 100px;
    text-align: center;
    color: #a75853;
    z-index: 6;
    display: none;
}

#mic-recording i {
    font-size: 40px;
}

#mic-recording span,
#mic-recording:before,
#mic-recording:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0 solid #ce8782;
    border-radius: 100%;
    -webkit-animation: da-pulse 1.5s ease-in-out 0s infinite;
    animation: da-pulse 1.5s ease-in-out 0s infinite;
}

#mic-recording span {
    border-color: #ce8782;
    border-width: 4px;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
}

#mic-recording:before {
    border-color: #a75853;
    border-width: 2px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#mic-recording:after {
    border-color: #dbbfbd;
    border-width: 1px;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}

@-webkit-keyframes da-pulse {
  0%,
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 0;
  }
  48%,
  52% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes da-pulse {
  0%,
  100% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    opacity: 0;
  }
  48%,
  52% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


@media only screen and (min-width: 993px) {

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    #mic-recording {
        position: fixed;
        bottom: 17px;
        right: 5px;
        width: 40px;
        height: 40px;
        line-height: 52px;
        text-align: center;
        color: #a75853;
        z-index: 6;
    }
    #mic-recording i {
        font-size: 20px;
    }
}

@media only screen and (max-width: 599px) {
    #mic-recording i {
        font-size: 20px;
    }
    #mic-recording span,
    #mic-recording:before,
    #mic-recording:after {
        display: none;
        animation: none;
        -webkit-animation: none;
    }
    #mic-recording {
        position: fixed;
        bottom: -15px;
        right: -28px;
        width: 72px;
        height: 72px;
        line-height: 100px;
        text-align: center;
        color: #a75853;
        z-index: 6;
    }
}


